* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
body {
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3, Label, p {
  color: #FCA311;
  text-shadow: 1px 1px 5px #14213D;
  font-weight: 650;
}

.configureTrafficTable {
  width: 100%;
}

td {
  width: 50%
}

.dropdown-menu {
  height: 200px;
  overflow-y: scroll;
  width: 100%;
}

.dropdown-menu.show {
  background-color: #8794be;
}

.dropdown-padding {
  padding-bottom: 20px;
}

thead {
  background: #14213D;
  color: #FCA311;
}

.timetable {
  background: #8794be;
}

.btn.btn-primary,
.dropdown-toggle.btn.btn-primary {
  background-color: #FCA311;
  border-color: #14213D;
  color: #14213D;
  font-weight: bold;

  width: 100%;
}

.btn.btn-primary:disabled {
  background-color: #fca2118a;
  border-color: #14213D;
}

.btn.btn-primary:hover {
  background-color: #FCA311;
}

select {
  background-color: #ff0000;
}

.contents {
  background-color: #474F69;
}


.clock {
  max-width: 150;
  margin: 0 auto;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #FCA311;
}